body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://images4.alphacoders.com/973/973967.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  background-color: silver;
}
.navbar-brand {
  color: black;
}
.nav-link {
  color: black;
}

.extra {
  width: flex;
  height: 650px;
  overflow-y: scroll;
}
.card {
  background: transparent;
}

.header-title {
  text-align: center;
  font-family: cursive;
  text-shadow: 2px 2px 2px rgb(15, 172, 211);
  color: #251b19;
  font-size: 50px;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {text-shadow: 10px 20px 30px #0453b3;}
}

.card-button {
  width: 200px;
}
